<ion-header>

  <ion-navbar>
      <ion-buttons end>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          </ion-buttons>
           
          <ion-title>
              ID:{{this.nid}}
            </ion-title>
    <ion-buttons start>
<ng-template [ngIf]="this.awri.isInRole('authenticated user')" [ngIfElse]="headerOut">
            <button ion-button (click)="this.gotoLogin()">
                <img class="avatar" src="{{this.awri.user.picture}}"> {{awri.user.name}}        
              </button>
</ng-template>      
<ng-template #headerOut>
            <button ion-button (click)="this.gotoLogin()">
            <ion-icon name="contact"></ion-icon>  {{awri.user.name}}
            </button>
</ng-template>
    </ion-buttons>    
  </ion-navbar>

</ion-header>

<ion-content padding>
        <div *ngIf="this.help" class="help">
                <ion-item>
                        <ion-label text-wrap>
                                <ion-icon name="share"></ion-icon>Teilen sie den angezeigten Beitrag auf gängigen Platformen
                            </ion-label>
                    </ion-item>
                    <ion-item>
                            <ion-label text-wrap>
                                    <ion-icon name="link"></ion-icon>Den Beitrag auf <strong>{{this.awri.HOST}}</strong> ansehen.
                                </ion-label>
                        </ion-item>

                    <ion-item>
                    <ion-label text-wrap>
                            <ion-icon name="contact"></ion-icon>Nur auf AWRI angemeldete Benutzer können die Fragesteller sehen.
                        </ion-label>
                </ion-item>

                <ion-item>
                        <ion-label text-wrap>
                                <ion-icon name="logo-facebook"></ion-icon>Mitglieder der Gruppe Rechtsforum Schweiz können direkt zum Originalbeitrag.
                                <p>Falls der Beitrag noch vorhanden ist.</p>
                            </ion-label>
                    </ion-item>
                <ion-item>
                        <ion-label text-wrap>
                                <ion-icon name="bookmark"></ion-icon>Nur auf AWRI angemeldete Benutzer können Lesezeichen setzen. 
                                <p><ion-icon name="bookmark" color="danger"></ion-icon>=Lesezeichen gesetzt, <ion-icon name="bookmark" color="primary"></ion-icon>=Kein Lesezeichen gesetzt</p>
                                <p> Die Anzahl aller Benutzer die dieses Lesezeichen gesetzt haben wird anzeigt.</p> 
                            </ion-label>
                    </ion-item>
                        <ion-item>
                        <ion-label text-wrap>
                               Nur angemeldete Benutzer können auf Fragen antworten.                                
                                                        </ion-label>
                        </ion-item>
                        </div>
                        <banners></banners>
    <ion-card>
        <ion-card-content>
        <ion-item>
            <ng-template [ngIf]="awri.isInRole('authenticated user')" [ngIfElse]="loggedOut">
                <ion-avatar item-start *ngIf="item.node.field_fbid?.und?.length>0">
                   <img class="avatar" src="https://graph.facebook.com/{{item.node?.field_fbid.und[0].value}}/picture"> 
                 </ion-avatar>
                 <h2 *ngIf="item.node.field_fbname?.und?.length>0" text-capitalize>{{item.node?.field_fbname.und[0].value}}</h2> 
                  </ng-template>
            <ng-template #loggedOut>
                    <ion-avatar item-start>
                        <img class="avatar" src="assets/imgs/anonymous.png"> 
                      </ion-avatar>
                      <h2 text-capitalize>Nicht angezeigt</h2>
                    </ng-template>
                 <p>{{item.node.created*1000 | date: 'dd.MM.yyyy H:mm' }}</p> 
              
    
            <!--
                                      <ng-template [ngIf]="awri.isInRole('administrator')">
                          <a href="https://facebook.com/{{item.node?.field_fbid.und[0].value}}" target="new"><ion-icon name="contact"></ion-icon></a>
                 </ng-template>
                 <a *ngIf="item.node.field_fbmid.und" href="https://facebook.com/{{item.node.field_fbmid.und[0].value}}" target="new"><ion-icon name="logo-facebook"></ion-icon></a>
                 <a href="{{this.awri.HOST}}/node/{{item.node.nid}}" target="new"> <ion-icon name="link"></ion-icon></a>     
                </ng-template>
               <ng-template #loggedOut>
                   <ion-avatar item-start>
                       <img class="avatar" src="assets/imgs/anonymous.png"> 
                     </ion-avatar>
                     <h2 text-capitalize>Nicht angezeigt</h2>
                 -->

                  
          </ion-item>
          <ion-item item-end><ion-badge color="secondary"><ion-icon name="eye"></ion-icon> {{this.node?.statistics?.totalcount}}</ion-badge></ion-item>

          
            <ion-item text-wrap>
             <h2 innerHTML="{{item.node.body['und'][0].value}}"></h2>
            </ion-item>

            <ion-item text-wrap>     
<button title="1 Nicht gelöst" ion-button small (click)="this.setRating(item.node.nid,1);" [color]=" this.bewertung>=20 ? 'secondary' : 'primary'">⭐</button>
<button title="2 Schlecht gelöst" ion-button small (click)="this.setRating(item.node.nid,2);" [color]=" this.bewertung>=40 ? 'secondary' : 'primary'">⭐</button>
<button title="3 Gut gelöst" ion-button small  (click)="this.setRating(item.node.nid,3);" [color]=" this.bewertung>=60 ? 'secondary' : 'primary'">⭐</button>
<button title="4 Sehr gut gelöst" ion-button small (click)="this.setRating(item.node.nid,4);" [color]=" this.bewertung>=80 ? 'secondary' : 'primary'">⭐</button>
<button title="5 Spitze gelöst" ion-button small (click)="this.setRating(item.node.nid,5);" [color]=" this.bewertung>=100 ? 'secondary' : 'primary'">⭐</button>
<p><small>Ihre Bewertung: {{ rating?.user?.value ?  rating?.user?.value/20 : 0  }},
Durchschnitt: {{  rating?.average?.value ? rating?.average?.value:0 }}%,
Bewertungen: {{  rating?.count?.value ? rating?.count?.value :0 }}</small></p>
<p><small>1 Nicht gelöst,2 Schlecht gelöst,3 Gut gelöst,4 Sehr gut gelöst,5 Top Lösung!</small></p>

            </ion-item>

       
            <ion-row>
                    <ion-segment [(ngModel)]="pet">
                            <ng-template [ngIf]="awri.isInRole('administrator')">
                  <ion-segment-button value="profil" *ngIf="item.node.field_fbid?.und?.length>0">
                        <a href="https://facebook.com/{{item.node?.field_fbid.und[0].value}}" target="new" title="Facebook Benutzerprofil ansehen"><ion-icon name="contact"></ion-icon></a>
                  </ion-segment-button>
                  </ng-template>
                  <ion-segment-button value="facebook">
                        <a *ngIf="item.node.field_fbmid.und" title="Originalbeitrag auf Facebook ansehen" href="https://facebook.com/{{item.node.field_fbmid.und[0].value}}" target="new"><ion-icon name="logo-facebook"></ion-icon></a>
                  </ion-segment-button>
                  <ion-segment-button value="awri">
                        <a href="{{this.awri.HOST}}/node/{{item.node.nid}}" title="Beitrag auf AWRI ansehen" target="new"> <ion-icon name="link"></ion-icon></a>     
                    </ion-segment-button>
                    <ion-segment-button value="share">
                            <ion-icon name="share" (click)="shareLink()" title="Diesen Beitrag teilen"></ion-icon>
                            </ion-segment-button>
                    

                    <ion-segment-button value="bookmark">
                    <bookmark [nid]="item.node.nid"></bookmark>
                    </ion-segment-button>
                </ion-segment>
            
              </ion-row>
              <bereich nid="{{item.node.nid}}" tid="{{item.node.field_bereiche['und'] ? item.node.field_bereiche['und'][0].tid:0}}"></bereich>
     
        </ion-card-content>
        </ion-card>
        <p *ngFor="let image of images">        
       <img src="{{this.awri.getImagePath(image.uri)}}">
        </p>
<p *ngFor="let comment of comments | async">
  <ion-card class="answers">
        <ion-card-content>
    <ion-item text-wrap>
        <h2><strong>{{comment.subject}}</strong></h2>  <h2 innerHTML="{{comment.comment_body['und'][0].safe_value}}"></h2> 
      </ion-item>      
    </ion-card-content>
  </ion-card>
</p>


<comment nid="{{this.nid}}"></comment>

<button ion-button icon-only (click)="this.goBack()">
    <ion-icon name="arrow-back"></ion-icon>
</button>

</ion-content>
