<ion-header>

    <ion-navbar>
        <ion-buttons end>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
            </ion-buttons>
             
            <ion-title>
              <img src="assets/imgs/logo.png" class="avatar">  AWRI
              </ion-title>
      <ion-buttons start>
  <ng-template [ngIf]="this.auth.isInRole('authenticated user')" [ngIfElse]="headerOut">
              <button ion-button (click)="this.gotoLogin()">
                  <img class="avatar" src="{{this.auth.user.picture}}"> {{auth.user?.name}}        
                </button>
  </ng-template>      
  <ng-template #headerOut>
              <button ion-button (click)="this.gotoLogin()">
              <ion-icon name="contact"></ion-icon>  {{auth.user?.name}}
              </button>
  </ng-template>
      </ion-buttons>    
    </ion-navbar>

</ion-header>
   
   <ion-content padding>  
      <button (click)="this.share()">message only</button>

        <div *ngIf="auth.isInRole('anonymous user')">
                <ion-item text-wrap>
            <ion-label color="danger"><h2>Sie sind nicht angemeldet!</h2>
                <p>Klicken sie oben Rechts auf <ion-icon name="contact"></ion-icon> um sich auf AWRI zu registrieren oder anzumelden.</p>
                </ion-label>
                </ion-item>
        </div>  
        
      <div class="help">
        <ion-item>
            <ion-label text-wrap>
                    <h2>Sie haben ein rechtliches Problem und benötigen Rat?</h2>
                    <p>Das AWRI System wurde 2015 entwickelt um Personen, die juristischen Rat suchen bestmöglich zu unterstützen.</p>
                    <p>Suchen sie in unserer Datenbank in rund {{auth.stats?.nodesc}} bereinigten Rechtsfragen mit {{auth.stats?.commentsc}} Antworten nach einer Lösung.</p>
                    <h2>Sie haben keine passende Lösung gefunden?</h2>
                    <p>Stellen sie eine neue Rechtsfrage in der Facebookgruppe  <a href="https://www.facebook.com/groups/RechtsberatungSchweiz/" target="_BLANK"> Rechtsforum Schweiz</a>.</p>
                    <p>Die erfahrenen Mitglieder unserer Facebook Gruppe werden versuchen ihnen zu helfen und Ihnen unverbindliche Ratschläge geben.</p>        
                    <h2>Sie möchten mitmachen?</h2>
                    <p>Dann treten sie unserer Facebookgruppe  <a href="https://www.facebook.com/groups/RechtsberatungSchweiz/" target="_BLANK"> Rechtsforum Schweiz</a> bei.
                    Wir freuen uns immer auf kompetente und erfahrene Mitstreiter. ❤️</p>
            
                </ion-label> 
        </ion-item>    
      </div>
<br>
     <div *ngIf="help" class="help">   
      <a href="https://www.facebook.com/groups/RechtsberatungSchweiz/" target="_BLANK">  
      <ion-item>
            <ion-icon name="logo-facebook" item-start></ion-icon>
            <ion-label text-wrap>
               <h2>Rechtsforum Schweiz</h2>
               <p>Facebookgruppe mit über 8000 Mitgliedern</p>
               <p>Alle Fragen wurden durch die Mitglieder dieser Gruppe beantwortet</p>
              </ion-label>
         </ion-item>
        </a>
        <br>
        <a href="{{auth.HOST}}" target="_BLANK">  
        <ion-item>
            <ion-icon name="rechzapp-awri" item-start></ion-icon>
            <ion-label text-wrap>
               <h2>AWRI (Alles was Recht ist)</h2>
               <p>Datenbank für Rechtsfragen</p>
               <p>In dieser Datenbank werden Rechtsfragen und Antworten ausgewertet und freigeschalten.</p>
              </ion-label>
         </ion-item>
         </a>
        <br>        
        <a href="https://www.facebook.com/Rechtshilfeforum/" target="_BLANK">  
        <ion-item>
            <ion-icon name="logo-facebook" item-start></ion-icon>
            <ion-label text-wrap>
               <h2>AWRI Ratgeber</h2>
               <p>Facebook Seite, auf der von Zeit zu Zeit die interessantesten und meist gefragten Beiträge aus dem Rechtsforum Schweiz veröffentlicht werden.</p>
              </ion-label>
         </ion-item>  
         </a>
</div>

    <ion-list *ngFor="let n of this.nodes">
      <ion-card>  
        <ion-item><p>{{n.created*1000 | date: 'dd.MM.yyyy H:mm' }} </p></ion-item>
        <ion-card-content text-wrap (click)="this.frageSelected(n)"><h2>{{n.title}}</h2></ion-card-content>
      </ion-card>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    <ion-fab right bottom class="web-fab">
        <button ion-fab icon-only color="primary" (click)="checkPlatform()">
          <ion-icon name="help"></ion-icon>
        </button>
       </ion-fab>
       
       <ion-fab right top edge class="mobile-fab">
        <button ion-fab icon-only color="primary" (click)="checkPlatform()">
          <ion-icon name="help"></ion-icon>
        </button>
       </ion-fab>
   </ion-content>
   <ion-footer>
        <ion-toolbar>             
          <!--
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://awri.ch" target="_BLANK"><button ion-button><ion-icon name="logo-linkedin"></ion-icon></button></a>
          <a href="https://twitter.com/intent/tweet?status=Rechtliche Fragen lösen. Machen auch sie mit: https://awri.ch" target="_BLANK"><button ion-button><ion-icon name="logo-twitter"></ion-icon></button></a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://awri.ch" target="_BLANK"><button ion-button><ion-icon name="logo-facebook"></ion-icon></button></a>       
          <a href="https://api.whatsapp.com/send?text=Alles was Recht ist! Die Schweizer Datenbank für Rechtsfragen. https://awri.ch" target="_BLANK"><button ion-button><ion-icon name="logo-whatsapp"></ion-icon></button></a>
       -->
           <button ion-button (click)="this.share()"><ion-icon name="share"></ion-icon></button>
        </ion-toolbar>
      </ion-footer>

