<ion-header>

    <ion-navbar>
        <ion-buttons end>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
            </ion-buttons>
             
            <ion-title>
                Suchen 
              </ion-title>
      <ion-buttons start>
  <ng-template [ngIf]="this.awri.isInRole('authenticated user')" [ngIfElse]="headerOut">
    <button ion-button (click)="gotoLogin()">
      <img class="avatar" src="{{this.awri.user.picture}}"> {{awri.user.name}}        
    </button>
  </ng-template>      
  <ng-template #headerOut>
              <button ion-button (click)="gotoLogin()">
              <ion-icon name="contact"></ion-icon>  {{awri.user.name}}
              </button>
  </ng-template>
      </ion-buttons>    
    </ion-navbar>

</ion-header>

<ion-content padding>

    <div *ngIf="this.awri.help" class="help">   
        <ion-item>
            <ion-label text-wrap>
               <h2>Rechtsfragen und Antworten suchen</h2>
               <p>Suchen sie nach mit verknüften Schlüsselwörtern nach Rechtsfragen und Antworten</p>
               <p>Sie können ihre Suche Näher eingrenzen in dem sie Ihre Schlüsselwörter mit AND oder OR (Grossgeschrieben) verknüpfen. Z.B. Haus OR Garage</p>
               <p>Oder in dem sie Ihre Schlüsselwörter mit + oder - verknüpfen. z.B: Hund -Katze</p>
               <p>Die Suchergebnise werden nach <ion-icon name="pulse"></ion-icon> Relevanz soriert angezeigt. Die Relevanz ergibt sich aus:
                </p>
                <ol><li>Anzahl Schlüsselwörtern</li> <li>Aktualität</li> <li>Bewertung</li></ol>
         
              </ion-label>
         </ion-item>
        <br>
        </div>
  <ion-list>
    <ion-item>
      <ion-label> <ion-icon name="search"></ion-icon></ion-label>
      <ion-input  [(ngModel)]="text" placeholder="Rechtsfrage suchen..." clearInput></ion-input>
    </ion-item>
    </ion-list>    

    <button ion-button round full (click)="dosearch()" icon-start><ion-icon name="search"  item-left></ion-icon> Suchen</button>
    <ion-label color="danger" text-wrap><h3>{{error}}</h3></ion-label>
  <ion-grid>
   <ion-row>
     <ion-col *ngFor="let item of items" col-12 col-md-4>
       <ion-card  (click)="this.itemSelected(item)">
         <ion-item>        
          <ng-template [ngIf]="awri.isInRole('authenticated user')" [ngIfElse]="loggedOut">
           <ion-avatar item-start *ngIf="item.node.field_fbid?.und?.length>0">
              <img class="avatar" src="https://graph.facebook.com/{{(item.node.field_fbid.und[0]?item.node.field_fbid.und[0].value:0)}}/picture"> 
              <h2 text-capitalize>{{item.node?.field_fbname.und[0].value}}</h2>
              <p>{{item.node.created*1000 | date: 'dd.MM.yyyy H:mm' }}</p>
            </ion-avatar>
            
          </ng-template>
          <ng-template #loggedOut>
              <ion-avatar item-start>
                  <img class="avatar" src="assets/imgs/anonymous.png"> 
                </ion-avatar>
                <h2 text-capitalize>Nicht angezeigt</h2>
            </ng-template>
         </ion-item>
         <ion-card-content>
                  <h2 innerHTML={{item.snippet}}></h2>                  

         </ion-card-content>
         <ion-item>
            <ion-icon name="chatboxes" item-start></ion-icon>
    
            <ion-badge item-end>{{item.node?.comment_count}}</ion-badge>
          </ion-item>
         <ion-item>
            <ion-icon name="pulse" item-start></ion-icon>
            <ion-badge item-end>{{item.score}}</ion-badge>
          </ion-item>
       </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>

</ion-content>