page-fragen {
    @media (max-width: 576px) {
        ion-card-content {
            font-size: 2rem !important;
        }
    }
 
    @media (max-width: 820px) {
        .mobile-fab {
            display: none;
        }
    }
 
    @media (min-width: 820px) {
        .web-fab {
            display: none;
        }
    }

 //Card Rounded corner   
 /*     
    .roundlist {
        border-radius: 20px !important;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color:#222;
        }     
        */
 }
  