<!--
  Generated template for the BereichPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="{{bereich?.icon}}"></ion-icon> {{this.bereich?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-navbar>
        <ion-buttons left>
          <button *ngIf="page>0"  ion-button (click)="prev()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title text-center>{{1+page}}/{{this.bereich?.count/10  | number: '1.0-0'}}</ion-title>
        <ion-buttons right>
            <button *ngIf="nodes?.length==10" ion-button  (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-buttons>
      </ion-navbar>
      <banners></banners>
<div *ngFor="let node of nodes">
  <ion-card>
    <ion-item><p>{{node.created*1000 | date: 'dd.MM.yyyy H:mm' }}</p></ion-item>
  <ion-item text-wrap (click)="gotoDetails(node)">
    <h1>{{node.title}}</h1>
  </ion-item>
</ion-card>
</div>
<!--
<button *ngIf="page>0" ion-button small (click)="prev()">Zurück</button></ion-buttons> {{1+page}} <button *ngIf="nodes?.length==10" ion-button small (click)="next()">Weiter</button>
-->

<ion-navbar>
    <ion-buttons left>
      <button *ngIf="page>0"  ion-button (click)="prev()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{1+page}}/{{this.bereich?.count/10  | number: '1.0-0'}}</ion-title>
    <ion-buttons right>
        <button *ngIf="nodes?.length==10" ion-button  (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>

</ion-content>
